<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PR7_Petrenko_program.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PR7_Petrenko_program.Properties.Settings>
            <setting name="OffsetX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OffsetY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Zoom" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="MorphFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MorphSpeed" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="Resolution" serializeAs="String">
                <value>150</value>
            </setting>
        </PR7_Petrenko_program.Properties.Settings>
    </userSettings>
</configuration>